<footer>
    <div class="container p-4">
        <div class="row">
            <div class="col">
                <h5>Beratung und Service</h5>
                <ul>
                    <li>(090) 094-4599</li>
                    <li>AguileraS59@example.com</li>
                    <li>Servicezeiten:</li>
                    <li>9:00 bis 16:00 Mo - Do</li>
                    <li>9:00 bis 13:00 Fr</li>
                </ul>
            </div>
            <div class="col">
                <h5>Info</h5>
                <ul>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Datenschutz</a></li>
                    <li><a href="#">AGB</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>ReMoJo</h5>
                <ul>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Über Uns</a></li>
                    <li><a href="#">Karriere</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Für Unternehmen</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>